<?xml version="1.0" encoding="UTF-8"?>
<!--启动项设置为 trace，加载 springboot 启动内部各种详细输出-->
<Configuration status="warn">
  <Appenders>
    <Console follow="true" name="console" target="SYSTEM_OUT">
      <!--控制台只输出level及以上级别的信息-->
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %5p %c{1}:%L - %m%n</Pattern>
      </PatternLayout>
      <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
    </Console>
  </Appenders>
  <Loggers>
    <!--根记录全部输出到控制台上-->
    <Root level="info">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>